@page
@model SalonS.Pages.Kunde.Opretkunde
@{
    ViewData["Title"] = "Register";
}
<style>
.side-bar   {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 200px; /* Width of the side bar */
      background: url('https://cdn3.vectorstock.com/i/1000x1000/88/07/seamless-pattern-for-barbershop-black-background-vector-18098807.jpg') repeat-y center center;
      z-index: -1;
    }
    .side-bar.left {
      left: 0;
    }
    .side-bar.right {
      right: 0;
    }

</style>
<div class="side-bar left"></div>
            <div class="side-bar right"></div>
<h1>Register</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Navn"></label>
        <input asp-for="Navn" class="form-control" />
        <span asp-validation-for="Navn" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tlf"></label>
        <input asp-for="Tlf" class="form-control" />
        <span asp-validation-for="Tlf" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Adgangskode"></label>
        <input asp-for="Adgangskode" type="password" class="form-control" />
        <span asp-validation-for="Adgangskode" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>