@page
@model SalonS.Pages.ConfirmLogout

@{
    ViewData["Title"]="Logout Confirmed";
}
<style>
.side-bar   {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 200px; /* Width of the side bar */
      background: url('https://cdn3.vectorstock.com/i/1000x1000/88/07/seamless-pattern-for-barbershop-black-background-vector-18098807.jpg') repeat-y center center;
      z-index: -1;
    }
    .side-bar.left {
      left: 0;
    }
    .side-bar.right {
      right: 0;
    }

</style>
<div class="side-bar left"></div>
            <div class="side-bar right"></div>
<div class="container">
    <h1>Log Ud Bekræftet</h1>
    <p>Du er nu Logget Ud. Tak for at benytte vores service.</p>
</div>
