/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* CSS for the slideshow */
   /* CSS for centering the first two images */
 .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
 }

.fade-slide {
  margin: 20px 0;
}

/* CSS for the opening hours and map */
.column {
  flex: 1;
  margin: 20px;
}

#map {
  width: 150%;
  height: 450px;
}

table {
  width: 100%;
}

td {
  padding: 5px;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* CSS for the main content */
.welcome-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.check-out {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.left-align {
  margin-right: auto;
}
.welcome-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.check-out {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.left-align {
  margin-right: auto;
}

.center-align {
  text-align: center;
}
.side-bar {
  position: fixed;
  top: 0;
  /* Adjust the height to make the sidebar fill out to the bottom */
  bottom: 0;
  width: 250px; /* Width of the side bar */
  background: url('https://cdn3.vectorstock.com/i/1000x1000/88/07/seamless-pattern-for-barbershop-black-background-vector-18098807.jpg') repeat-y center center;
  z-index: -1;
}

.side-bar.left {
  left: 0;
}

.side-bar.right {
  right: 0;
}
